.to-do-list {
    position: fixed;
    top: 0;
    left: 330px;
    right: 0;
    width: auto;
    height: auto; /* Add this line */
    padding: 10px;
    z-index: 1;
    font-family: Comic Sans MS;
    background-image: url('https://i.pinimg.com/736x/be/dd/50/bedd501148358354b3f081c0a833916d--pattern-texture-pattern-print.jpg');
    width: auto;
    height: 3000px;
}

.list-top-name {
    font-size: 40px;
    font-style: italic;
}

.list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px double black;
    padding: 20px 15px;
    background-color: white;
    background: url('assets/paper-background.png');
    background-size: cover;
    background-position: center;
}